<div class="container">
    <img class="logo" src="../../assets/korelo.png"> <br>
    <img class="banner" src="../../assets/forklift.jpg"> <br>
    
    <div class="two">
    <div class="head"><h2>Agile</h2> </div>
    <div class="text">
    <p>......................................................................................</p>
    <h4>Combining capacity of large <br> global providers with velocity <br>
   of a tight team,we get more of the <br> right things done,faster </h4>
   <button class="btn" (click)="btn()">Click me</button>
   </div>
   
</div>
</div>
