<div class="container">
    <img class="logo" src="../../assets/korelo.png"> <br>
    <img class="banner" src="../../assets/doct.jpg"> <br>
    
    <div class="head"><h2>Simplify <br> IoT</h2> </div>
    <div class="text">
    <p>..............................................................................................</p>
    <h4> KORE simplifies complexity across <br> the Iot systems,enabling our <br>
   customers Iot vision and delivering <br> meassurable value </h4>
   <button  (click)="btn()" class="btn">Click me</button>
  
</div>
</div>
