<div class="container">
    <img class="logo" src="../../assets/korelo.png"> <br>
    <img class="banner" src="../../assets/innovat.png"> <br>
    <div class="h">
    <div class="head"><h2>Innovative</h2> </div>
    <div class="text">
    <p>........................................................................................</p>
    <h4>We explore consider ideas from <br> every source enabling us to deliver <br>
    insights leading to new,better <br> outcomes to Iot</h4>
    <button class="btn" (click)="btn()">Click me</button>
    </div>
</div>
</div>
